* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {

    list-style: none;
}


.bg-img {
    background-image: url(../img/2024-nissan-sentra-e-15-6488668a6dde1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;

}

.links-cont {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    border-bottom: 2px solid white;

}

.links-div {
    width: 400px;
    height: 20%;

}


.links-div ul {
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-end;
    gap: 40px;
    padding-right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;


}

.links-div ul li:hover {
    cursor: pointer;

}

.butin {
    height: 50px;
    width: 140px;
    font-weight: 500;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid white;
    color: white;

}

.butin:hover {
    cursor: pointer;
    background-color: red;
    border: none;
}


.logo {
    margin-left: 60px;
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 10px;

}

img {
    height: inherit;
    width: inherit;
}

.links-cont2 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 15%;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.sentra {
    font-size: 20px;
    font-weight: 800;

}

.sentra:hover {
    cursor: pointer;
}

.link2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 15%;

}

.link2 li:hover {
    cursor: pointer;

}

.butin2 {
    margin-right: -70px;
    height: 50px;
    width: 140px;
    font-weight: 500;
    border-radius: 25px;
    background-color: white;
    border: 1px solid white;
    color: black;

}

.butin2:hover {
    cursor: pointer;
    background-color: black;
    border: none;
    color: white;
}

.bg-words {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 30%;
    height: 60%;
    margin-left: 70px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#bolded-wrds {
    font-size: 45px;
    font-weight: 700;
}

.main {
    text-align: center;
    width: 100%;
    height: 400px;
    background-color:white;

}

.dealers {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: black;
    margin: 50px  auto;
}

.map {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;

}

.find {
    width: 500px;
    height: 100px;
    
}
.find input{
    width: 500px;
    height: 40px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 5px 1px black;

}
.find button{
    margin-left: -20px;
    width: 100px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: blue;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.find button:hover{
    cursor: pointer;
    background-color:white;
    border: none;
    color: black;
    border: 1px solid black;
}