* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {

    list-style: none;
}


.bg-img {
    background-image: url(../img/2024-nissan-sentra-e-15-6488668a6dde1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;

}

.links-cont {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    border-bottom: 2px solid white;

}

.links-div {
    width: 400px;
    height: 20%;

}


.links-div ul {
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-end;
    gap: 40px;
    padding-right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;


}

.links-div ul li:hover {
    cursor: pointer;

}

.butin {
    height: 50px;
    width: 140px;
    font-weight: 500;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid white;
    color: white;

}

.butin:hover {
    cursor: pointer;
    background-color: red;
    border: none;
}


.logo {
    margin-left: 60px;
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 10px;

}

img {
    height: 100%;
    width: 100%;
}

.links-cont2 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 15%;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.sentra {
    font-size: 20px;
    font-weight: 800;

}

.sentra:hover {
    cursor: pointer;
}

.link2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 15%;

}

.link2 li:hover {
    cursor: pointer;

}

.butin2 {
    margin-right: -70px;
    height: 50px;
    width: 140px;
    font-weight: 500;
    border-radius: 25px;
    background-color: white;
    border: 1px solid white;
    color: black;

}

.butin2:hover {
    cursor: pointer;
    background-color: black;
    border: none;
    color: white;
}

.bg-words {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 30%;
    height: 60%;
    margin-left: 70px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#bolded-wrds {
    font-size: 45px;
    font-weight: 700;
}



.main-cont {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-color: rgba(218, 213, 214, 0.822)
}

.in-cont {
    width: 30%;
    height: inherit;
    background-color: rgba(218, 213, 214, 0.822)
}

.locate {
    height: 11%;
    background-color: rgba(218, 213, 214, 0.822);
    color: rgb(136, 38, 14);
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 14%;
    margin-bottom: 10px;
    border: none;
    background-color: rgba(218, 213, 214, 0.822);
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}



#input {
    width: 200px;
    height: 40px;
    padding-left: 20px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    background-color: rgb(247, 246, 248);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#input:hover {

    border: 2px solid rgb(190, 14, 14);

}

.buttin {
    width: 60px;
    height: 45px;
    border: 1px solid white;
    border-radius: 22.5px;
    background-color: rgba(0, 0, 255, 0.408);
    color: white;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttin:hover {
    border: none;
    background-color: blue;

}

.img-box {
    width: 100%;
    height: 73.6%;
    background-color: rgba(218, 213, 214, 0.822);
}



.in-cont2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    gap: 20px;
    padding: 40px 20px;
    width: 70%;
    height: inherit;
    background-color: rgba(218, 213, 214, 0.822);
}

.box {
    width: 48%;
    height: 50%;
    border-radius: 4%;
    background-color: rgb(161, 115, 123);
}

.car-pic {
    width: 100%;
    height: 60%;
}

.car-text {
    width: 100%;
    height: 40%;
}

.car-text ul {
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifdf;
    margin: auto;
    width: 80%;
    height: 90%;
    text-align: center;

}

.car-text ul #bold {
    font-size: 23px;
    font-weight: 700;
    color: black;

}

.car-text ul #bold span {
    color: rgb(30, 30, 236);

}


.car-text ul #small {
    font-size: 25px;
    font-weight: 600;
    color: black;
    margin-top: 15px;
}

.car-text ul #small span {
    color: rgb(172, 21, 21);
}


.pics1 {
    width: 100%;
    height: 550px;
    background-color: rgba(218, 213, 214, 0.822)
}

.pic1 {
    padding-top: 20px;
    margin: auto;
    width: 70%;
    height: 98%;
}

.text {
    text-align: center;
    color: black;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 50px;
    font-weight: 700;
}

.texts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 17px;
    font-weight: 700;
    color: black;
    display: flex;
    width: 100%;
    height: 180px;

}

.texts p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    width: 30%;
    height: 100%;
}

.texts2 {
    flex-wrap: wrap;
    padding: 2px 15px;
    margin-top: 50px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
    width: 100%;
    height: 300px;
    background-color: rgba(218, 213, 214, 0.822)
}

.texts2 p {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 20%;
    border-left: 20px solid rgb(214, 171, 178);
    border-bottom: 2px solid rgb(214, 171, 178);
    margin-top: 20px;
    padding-left: 20px;
}



.but1 {
    height: 50px;
    width: 80px;
    font-size: 14;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
    background-color: rgb(15, 15, 16);
    border: 1px solid white;
    color: rgb(229, 48, 48);
}



.but1:hover {
    cursor: pointer;
    background-color: black;
    border: none;
    color: white
}

.pic2 {
    padding-top: 5px;
    height: 400px;
    width: 100%;
    margin: auto;
    background-color: rgba(218, 213, 214, 0.822)
}

.img5 {
    height: 395px;
    width: 60%;
    margin: auto;
    background-color: rgba(218, 213, 214, 0.822)
}